################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/TesteApi/FileContentIndex
/backend/.vs/TesteApi/v17/.suo
/backend/obj/Debug/net8.0/refint/TesteApi.dll
/backend/obj/Debug/net8.0/TesteApi.AssemblyInfoInputs.cache
/backend/.vs/TesteApi/v17/.futdcache.v2
/backend/.vs/TesteApi/v17/.suo
/backend/.vs/TesteApi/v17/DocumentLayout.backup.json
/backend/.vs/TesteApi/v17/DocumentLayout.json
/backend/.vs/TesteApi/FileContentIndex/00dd5398-213d-46b6-af35-31116675cecb.vsidx
/backend/.vs/TesteApi/FileContentIndex/73893ddd-7816-425e-879b-7e217b83f27a.vsidx
/backend/.vs/TesteApi/FileContentIndex/84032f71-9edc-4883-9167-470b9df80cb1.vsidx
/backend/.vs/TesteApi/FileContentIndex/8939fd16-cb28-46be-aa12-36eb858d7fa5.vsidx
/backend/.vs/TesteApi/FileContentIndex/dbf6e66a-42bf-415c-bbd6-eddcee596ea2.vsidx
/backend/.vs/TesteApi/DesignTimeBuild/.dtbcache.v2
/backend/.vs/ProjectEvaluation/testeapi.metadata.v9.bin
/backend/.vs/ProjectEvaluation/testeapi.projects.v9.bin
/backend/.vs/ProjectEvaluation/testeapi.strings.v9.bin
/backend/obj/Debug/net8.0/TesteApi.AssemblyInfo.cs
/backend/bin/Debug/net8.0/TesteApi.dll
/backend/bin/Debug/net8.0/TesteApi.exe
/backend/bin/Debug/net8.0/TesteApi.pdb
/backend/obj/Debug/net8.0/ref/TesteApi.dll
/backend/obj/Debug/net8.0/refint/TesteApi.dll
/backend/obj/Debug/net8.0/ApiEndpoints.json
/backend/obj/Debug/net8.0/apphost.exe
/backend/obj/Debug/net8.0/TesteApi.csproj.CoreCompileInputs.cache
/backend/obj/Debug/net8.0/TesteApi.dll
/backend/obj/Debug/net8.0/TesteApi.pdb
/backend/obj/Debug/net8.0/TesteApi.sourcelink.json
