################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/TesteApi/FileContentIndex
/backend/.vs/TesteApi/v17/.suo
/backend/obj/Debug/net8.0/refint/TesteApi.dll
/backend/obj/Debug/net8.0/TesteApi.AssemblyInfoInputs.cache
/backend/.vs/TesteApi/v17/.futdcache.v2
/backend/.vs/TesteApi/v17/.suo
/backend/.vs/TesteApi/v17/DocumentLayout.backup.json
/backend/.vs/TesteApi/v17/DocumentLayout.json
/backend/.vs/TesteApi/FileContentIndex/00dd5398-213d-46b6-af35-31116675cecb.vsidx
/backend/.vs/TesteApi/FileContentIndex/73893ddd-7816-425e-879b-7e217b83f27a.vsidx
/backend/.vs/TesteApi/FileContentIndex/84032f71-9edc-4883-9167-470b9df80cb1.vsidx
/backend/.vs/TesteApi/FileContentIndex/8939fd16-cb28-46be-aa12-36eb858d7fa5.vsidx
/backend/.vs/TesteApi/FileContentIndex/dbf6e66a-42bf-415c-bbd6-eddcee596ea2.vsidx
/backend/.vs/TesteApi/DesignTimeBuild/.dtbcache.v2
/backend/.vs/ProjectEvaluation/testeapi.metadata.v9.bin
/backend/.vs/ProjectEvaluation/testeapi.projects.v9.bin
/backend/.vs/ProjectEvaluation/testeapi.strings.v9.bin
/backend/obj/Debug/net8.0/TesteApi.AssemblyInfo.cs
/backend/bin/Debug/net8.0/TesteApi.dll
/backend/bin/Debug/net8.0/TesteApi.exe
/backend/bin/Debug/net8.0/TesteApi.pdb
/backend/obj/Debug/net8.0/ref/TesteApi.dll
/backend/obj/Debug/net8.0/refint/TesteApi.dll
/backend/obj/Debug/net8.0/ApiEndpoints.json
/backend/obj/Debug/net8.0/apphost.exe
/backend/obj/Debug/net8.0/TesteApi.csproj.CoreCompileInputs.cache
/backend/obj/Debug/net8.0/TesteApi.dll
/backend/obj/Debug/net8.0/TesteApi.pdb
/backend/obj/Debug/net8.0/TesteApi.sourcelink.json
*.vsidx
/backend/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/backend/obj/Release/net8.0/AppReciclagem.AssemblyInfo.cs
/backend/obj/Release/net8.0/AppReciclagem.AssemblyInfoInputs.cache
/backend/obj/Release/net8.0/AppReciclagem.assets.cache
/backend/obj/Release/net8.0/AppReciclagem.csproj.AssemblyReference.cache
/backend/obj/Release/net8.0/AppReciclagem.GeneratedMSBuildEditorConfig.editorconfig
/backend/obj/Release/net8.0/AppReciclagem.GlobalUsings.g.cs
/backend/.vs/AppReciclagem/DesignTimeBuild/.dtbcache.v2
/backend/.vs/AppReciclagem/v17/.futdcache.v2
/backend/.vs/AppReciclagem/v17/.suo
/backend/.vs/AppReciclagem/v17/DocumentLayout.backup.json
/backend/.vs/AppReciclagem/v17/DocumentLayout.json
/backend/.vs/ProjectEvaluation/appreciclagem.metadata.v9.bin
/backend/.vs/ProjectEvaluation/appreciclagem.projects.v9.bin
/backend/.vs/ProjectEvaluation/appreciclagem.strings.v9.bin
/backend/bin/Debug/net8.0/AppReciclagem.dll
/backend/bin/Debug/net8.0/AppReciclagem.exe
/backend/bin/Debug/net8.0/AppReciclagem.pdb
/backend/obj/Debug/net8.0/ref/AppReciclagem.dll
/backend/obj/Debug/net8.0/refint/AppReciclagem.dll
/backend/obj/Debug/net8.0/AppReciclagem.AssemblyInfo.cs
/backend/obj/Debug/net8.0/AppReciclagem.AssemblyInfoInputs.cache
/backend/obj/Debug/net8.0/AppReciclagem.assets.cache
/backend/obj/Debug/net8.0/AppReciclagem.csproj.AssemblyReference.cache
/backend/obj/Debug/net8.0/AppReciclagem.csproj.CoreCompileInputs.cache
/backend/obj/Debug/net8.0/AppReciclagem.dll
/backend/obj/Debug/net8.0/AppReciclagem.GeneratedMSBuildEditorConfig.editorconfig
/backend/obj/Debug/net8.0/AppReciclagem.pdb
/backend/obj/Debug/net8.0/AppReciclagem.sourcelink.json
/backend/bin/Debug/net8.0/AppReciclagem.deps.json
/backend/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
/backend/bin/Debug/net8.0/Newtonsoft.Json.dll
/backend/bin/Debug/net8.0/System.Net.Http.Formatting.dll
/backend/bin/Debug/net8.0/System.Web.Http.dll
/backend/obj/AppReciclagem.csproj.nuget.dgspec.json
/backend/obj/Debug/net8.0/AppReciclagem.csproj.FileListAbsolute.txt
/backend/obj/project.assets.json
/backend/obj/project.nuget.cache
